.had {
  
  left: 0px;
  right: 0px;
  top: 19px;
  bottom: 4066px;
  

  
  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.04);
}
.had i {
  position: left;
  margin-right: 10px;
  bottom: 4066px;
}

footer {
  background-color: 
  #F6F8FB;
  padding: 100px 0;
  color: black;
}
footer h1 {
  margin-bottom: 30px;
  color: #4592FF;
  font-weight: 800;
  font-style: italic;
}
footer .img {
  background-color: #0c2a4d;
  padding: 15px 20px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  left: 0px;
  margin-bottom: 5px;
  opacity: 1;
}
